
body {
    background-image: url('http://staff.hamk.fi/~tsaksa/temp/background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1400px;
}

header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    text-align: left;
    font-size: 36px;
    margin: 0;
}

nav {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

nav a {
    text-align: right;
    margin-right: 15px;
}

.content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

.sidebar img {
    max-width: 100%;
    border-radius: 5px;
}

footer {
    background-color:white;
    color:black;
    padding: 20px 0;
    border-radius: 5px;
    margin-top: 20px;
}
  
  @media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
  
    .sidebar {
        width: 100%;
        margin-top: 20px;
    }
  }